<h2>List of Manufacturers</h2>
<%= link_to 'Add New Manufacturer', new_manufacturer_path %>
<%= link_to 'View All Phones', phones_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
  </tr>
  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= manufacturer.name %></td>
      <td><%= manufacturer.country %></td>
    </tr>
  <% end %>
</table>
